mixin slider
  .slider&attributes(attributes)
    button.slider__toggle.slider__toggle--before(type='button')
      span.slider__underlining Было
    #slider.slider__range
    button.slider__toggle.slider__toggle--after(type='button')
      span.slider__underlining Стало
