mixin programms
  section.programms.container&attributes(attributes)
    h2.visually-hidden Программы питания
    ul.programms__list
      li.programms__item
        h3.programms__title.programms__title--slim Похудение
        p.programms__text
          | Ваш кот весит больше собаки и почти утратил способность лазить по
          | деревьям? Пора на диету! Cat Energy Slim поможет вашему питомцу
          | сбросить лишний вес.
        a.programms__link(href='catalog.html') Каталог slim
      li.programms__item
        h3.programms__title.programms__title--gain Набор массы
        p.programms__text
          | Заработать авторитет среди дворовых котов и даже собак? Серия Cat
          | Energy Pro поможет вашему коту нарастить необходимые мышцы!
        a.programms__link(href='catalog.html') Каталог pro
