extends ../base

block layout
  body.layout
    +page-header.layout__header

    main.layout__main(aria-label='Основной контент страницы')
      block main

      +contacts

    +page-footer.layout__footer

    script(src='js/scripts.min.js')
