mixin comparison
  ul.comparison&attributes(attributes)
    li.comparison__item.comparison__item--before
      +img(images.slider.before)(width=320 height=240 alt='Изображение кота до похудения').comparison__image
    li.comparison__item.comparison__item--after
      +img(images.slider.after)(width=320 height=240 alt='Изображение кота после похудения').comparison__image
