mixin weight-loss
  .weight-loss&attributes(attributes)
    .weight-loss__item.weight-loss__item--first
      .weight-loss__details.weight-loss__details--box
        p.weight-loss__term 5 кг
        p.weight-loss__description Снижение веса
      .weight-loss__details.weight-loss__details--box
        p.weight-loss__term 60 дней
        p.weight-loss__description Затрачено времени
    .weight-loss__item.weight-loss__item--second
      .weight-loss__details.weight-loss__details--no-box
        p.weight-loss__term 15 000 руб.
        p.weight-loss__description Затраты на питание:
