extends base

include layout/contacts/contacts
include layout/footer/page-footer
include layout/header/page-header

block layout-styles
  link(href='css/layout.css' rel='stylesheet')
  block page-styles

block layout-head-scripts
  script(
    src='https://api-maps.yandex.ru/2.1/?apikey=ffb78397-bae9-487a-980a-d69790fc2835&lang=ru_RU'
  )
  script(src='js/layout-head.min.js')
  block page-head-scripts

block layout
  .layout
    +page-header.layout__header

    main.layout__main(aria-label='Основной контент страницы')
      block main

      +contacts

    +page-footer.layout__footer

block layout-body-scripts
  script(src='js/layout-body.min.js')
  block page-body-scripts
