@import '../../../../../../../node_modules/nouislider';

.slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slider__toggle {
  padding: 0;

  color: inherit;
  font-size: 16px;
  font-family: $font-secondary;
  text-transform: uppercase;

  background-color: transparent;
  border: none;
}

.slider__range {
  flex-grow: 1;
  min-width: 83px;
  height: 14px;
  margin: 0 18px;
  padding: 0 22px;

  background-color: $basic_white;
  border: 1px solid $special_grey;
  border-radius: 6px;

  & .noUi-handle {
    top: 3px;

    width: 35px;
    height: 6px;

    background-color: $basic_green;
    border: none;
    border-radius: 6px;
    box-shadow: none;

    &::before,
    &::after {
      display: none;
    }
  }
}

@include media('>=tablet') {
  .slider__toggle {
    font-size: 20px;

    & > .slider__underlining {
      border-bottom: 1px dotted $special_grey;
    }

    &:hover > .slider__underlining,
    &:focus > .slider__underlining {
      border-bottom-style: solid;
    }

    &:active > .slider__underlining {
      border-bottom: none;
    }
  }

  .slider__range {
    min-width: none;
    height: 6px;
    margin: 0 20px;
    padding: 0 16px;

    background-color: $special_grey-10;
    border: none;
    border-radius: 6px;
    box-shadow: none;

    & .noUi-handle {
      top: -13px;

      width: 34px;
      height: 34px;

      background-color: $basic_white;
      border-radius: 100%;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16);

      &::before {
        position: absolute;
        top: calc(50% - 4px);
        left: calc(50% - 4px);

        display: block;
        width: 8px;
        height: 8px;

        background-color: $basic_green;
        border-radius: 100%;

        content: '';
      }

      &:hover,
      &:focus {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.19);
      }

      &:active {
        border: 1px solid $basic_green;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
      }
    }
  }
}
