@mixin list-style-none {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin container-out-on-mobile {
  margin: 0 0 - $mobile-paddings;
}

@mixin container-out-on-tablet {
  margin: 0 0 - $mobile-tablet;
}

@mixin container-out-on-desktop {
  margin: 0 0 - $mobile-dasktop;
}

@mixin container-in {
  margin: 0;
}
