extends ../../layout/layout

include components/example/example
include components/info
include components/programms

block append variables
  - const meta = pages.index.meta
  - const {page} = pages.index

block page-styles
  link(href!=`css/${page}.css` rel='stylesheet')

append scripts
  script(src='js/example.min.js' defer)

block main
  +programms
  +info
  +example
