extends ../../layout/layout

include components/example/example
include components/info
include components/programms

block append variables
  - const meta = pages.index.meta
  - const {page} = pages.index

block page-styles
  link(href!=`css/${page}.css` rel='stylesheet')

block main
  div(data-barba="container" data-barba-namespace!=`${page}`)
    +programms
    +info
    +example

block page-script
  script(src!=`js/${page}.min.js`)
