extends ../../layout/layout

include components/example/example
include components/info
include components/programms

block varaiables
  - const meta = pages.index.meta
  - const {navigationLinks} = pages.index.data
  - const {page} = pages.index

block page-styles
  link(href!=`css/${page}.css` rel='stylesheet')

block main
  +programms
  +info
  +example

block page-body-scripts
  script(src!=`js/example.min.js`)
