include components/weight-loss
include components/comparison
include components/slider

mixin example
  section.example&attributes(attributes)
    .example__inner.container
      .example__content-wrapper
        +title('Живой пример', 'h2').example__title
        p.example__text
          | Борис сбросил 5 кг за 2 месяца, просто заменив свой обычный корм на
          | Cat Energy Slim. Отличный результат без изнуряющих тренировок! При
          | этом он не менял своих привычек и по-прежнему спит по 16 часов в день.
        +weight-loss.example__weight-loss
      .example__comparison-wrapper
        +comparison.example__comparison
        +slider.example__slider
