mixin navigation
  ul.navigation&attributes(attributes)
    each link in navigationLinks
      if link.url === null
        li.navigation__item
          a(class!=`navigation__link navigation__link--${page} navigation__link--active`)= link.text
      else
        li.navigation__item
          a(class!=`navigation__link navigation__link--${page}` href!=link.url)= link.text
