extends ../layout/layout

block varaiables
  - const meta = pages.form.meta
  - const {navigationLinks} = pages.form.data
  - const {name} = pages.form

block main
  main(aria-label='Основной контент страницы').page.page--form
    h1= name
