extends ../layout/layout

block varaiables
  - const meta = pages.index.meta
  - const {navigationLinks} = pages.index.data
  - const {name} = pages.catalog

block main
  main(aria-label='Основной контент страницы').page.page--index
    h1= name
