mixin copyright
  a.copyright(href='https://htmlacademy.ru/' target='_blank')&attributes(attributes)
    span.copyright__company HTML Academy
    svg.copyright__logo
      use(xlink:href='@img/stack-sprite.svg#html-academy')
