.slider {
  @include list-style-none;
}

.slider__slide {
  display: none;

  &--current {
    display: block;
  }
}

.slider__toggels {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider__toggle {
  padding: 15px;

  font-size: 16px;
  font-family: $font-secondary;
  text-transform: uppercase;

  background-color: $special_grey-6;
  border: none;
}

.slider__scale {
  width: 84px;
}
