extends ../../base

include blocks/contacts/contacts
include blocks/page-footer/page-footer
include blocks/page-header/page-header

block layout
  body.layout
    +page-header.layout__header

    main.layout__main(aria-label='Основной контент страницы')
      block main

      +contacts

    +page-footer.layout__footer

    script(src='js/scripts.min.js')
