extends ../../layouts/index/index

include blocks/example/example
include blocks/info/info
include blocks/programms/programms

block varaiables
  - const meta = pages.index.meta
  - const {navigationLinks} = pages.index.data
  - const {page} = pages.index

block main
  +programms
  +info
  +example
