include social/social
include copyright/copyright

mixin page-footer
  footer.page-footer&attributes(attributes)
    .container.page-footer__inner
      +logo('footer').page-footer__logo
      +social.page-footer__social
      +copyright.footer__copyright
