-
  const desktopMedia = '(min-width: 1440px)'
  const tabletMedia = '(min-width: 768px)'

  const images = {
    promo: {
      dir: 'promo',
      mobile: {
        file: 'product.png',
        retina: true,
      },
      tablet: {
        file: 'product.jpg',
        retina: true,
      },
      desktop: {
        file: 'product.png',
        retina: true,
      }
    },
    slider: {
      before: {
        dir: 'example',
        mobile: {
          file: 'before.png',
          retina: true,
        },
        tablet: {
          file: 'before.png',
          retina: true,
        },
        desktop: {
          file: 'before.png',
          retina: true,
        }
      },
      after: {
        dir: 'example',
        mobile: {
          file: 'after.png',
          retina: true,
        },
        tablet: {
          file: 'after.png',
          retina: true,
        },
        desktop: {
          file: 'after.png',
          retina: true,
        }
      }
    },
    map: {
      dir: 'map',
      mobile: {
        file: 'map.png',
        retina: true,
      },
      tablet: {
        file: 'map.png',
        retina: true,
      },
      desktop: {
        file: 'map.png',
        retina: true,
      }
    },
    products: {
      chickenBig: {
        dir: 'products',
        mobile: {
          file: 'chicken-big.png',
          retina: true,
        },
        tablet: {
          file: 'chicken-big.png',
          retina: true,
        },
        desktop: {
          file: 'chicken-big.png',
          retina: true,
        }
      }
    }
  }

