.info {
  padding-top: 29px;
  padding-bottom: 45px;
}

.info__title {
  margin-top: 0;
  margin-bottom: 44px;
}

.info__list {
  @include list-style-none;
  width: 280px;
}

.info__item {
  position: relative;

  margin-bottom: 26px;
  padding-left: 80px;

  line-height: 18px;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    position: absolute;
    top: -3px;
    left: 0;

    width: 60px;
    height: 60px;

    content: '';
  }

  &--leaf::before {
    background-image: url('../images/stack-sprite.svg#icon-leaf');
  }

  &--powder::before {
    background-image: url('../images/stack-sprite.svg#icon-powder');
  }

  &--dining::before {
    background-image: url('../images/stack-sprite.svg#icon-dining');
  }

  &--clock::before {
    background-image: url('../images/stack-sprite.svg#icon-clock');
  }
}

@include media('>=tablet') {
  .info {
    padding-top: 46px;
    padding-bottom: 68px;
  }

  .info__title {
    margin-top: 0;
    margin-bottom: 75px;
  }

  .info__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;

    column-gap: 60px;
    row-gap: 87px;
  }

  .info__item {
    margin-bottom: 0;
    padding-top: 108px;
    padding-right: 30%;
    padding-bottom: 50px;
    padding-left: 0;

    font-size: 16px;
    line-height: 24px;

    &::before {
      width: 80px;
      height: 80px;
    }

    &::after {
      position: absolute;
      right: 78px;
      bottom: -7px;
      z-index: -1;

      color: $basic_grey;
      font-size: 280px;
      font-family: $font-secondary;
      line-height: 280px;
    }

    &--leaf::after {
      right: 94px;

      content: '1';
    }

    &--powder::after {
      content: '2';
    }

    &--dining::after {
      content: '3';
    }

    &--clock::after {
      content: '4';
    }
  }
}

@include media('>=desktop') {
  .info {
    padding-top: 72px;
    padding-bottom: 26px;
  }

  .info__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;

    column-gap: 80px;
  }

  .info__item {
    padding-right: 0;

    &::after {
      right: 0;
    }

    &--leaf::after {
      right: 15px;
    }
  }
}
