extends ../../layouts/index/index

block varaiables
  - const meta = pages.catalog.meta
  - const {navigationLinks} = pages.catalog.data
  - const {page} = pages.catalog

block main
  .container
    h1= page
