@import 'base';
@import 'layout/header/page-header';
@import 'layout/contacts/contacts';
@import 'layout/footer/page-footer';

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout__main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}
