extends ../../layout/layout

include components/catalog-list
include components/product-card

block append variables
  - const meta = pages.catalog.meta
  - const {page} = pages.catalog

block page-styles
  link(href!=`css/${page}.css` rel='stylesheet')

block main
  .container
    h1= page
    +catalog-list
