extends ../../layout/layout

include components/catalog-list
include components/product-card

block append variables
  - const meta = pages.catalog.meta
  - const {page} = pages.catalog

block page-styles
  link(href!=`css/${page}.css` rel='stylesheet')

block main
  div(data-barba="container" data-barba-namespace!=`${page}`).container
    h1= page
    +catalog-list

block page-script
  script(src!=`js/${page}.min.js`)
