mixin map
  .map&attributes(attributes)
    #map.map__ymaps
    +img('bg-map', ['png', 'png', 'png']).map__image(
      alt='Адрес компании на карте: Ул. Большая Конюшенная, д. 19/8 Санкт-Петербург'
      width='320'
      height='362'
    )
