extends ../base

block layout
  body.layout
    header.header.layout__header
      .container
        p Header

    main(aria-label='Основной контент страницы').main.layout__main
      .container
        block main

    footer.footer.layout__footer
      .container
        p Footer

    script(src='js/scripts.min.js')
