mixin promo
  section.promo&attributes(attributes)
    +title('Функциональное питание для котов', 'h1').promo__title
    p.promo__lead Занялся собой? Займись котом!
    +img(images.promo)(width="280" height="271" alt='Банка корма Cat Energy Pro').promo__img
    +button('Подобрать программу', 'link').promo__button(href='form.html')
