.weight-loss {
  display: flex;
  flex-direction: column;
}

.weight-loss__item {
  &--first {
    display: flex;
    justify-content: space-between;
    margin-bottom: 37px;
  }
}

.weight-loss__details {
  &--box {
    position: relative;

    min-width: 124px;
    padding-top: 16px;
    padding-bottom: 17px;

    text-align: center;

    border: 1px solid $special_grey;
    border-radius: 3px;

    & > .weight-loss__term {
      margin: 0;

      color: $basic_black;
      font-weight: 400;
      font-size: 24px;
      font-family: $font_secondary;
      text-transform: uppercase;
    }

    & > .weight-loss__description {
      position: absolute;
      bottom: -18px;
      left: 16%;
      z-index: 1;

      width: 82px;
      margin: 0;

      font-size: 12px;
      line-height: 12px;
      text-transform: lowercase;

      background-color: $special_grey-6;
    }
  }

  &--no-box {
    display: flex;
    justify-content: center;

    color: $basic_black;
    font-family: $font_secondary;
    text-transform: uppercase;

    & > .weight-loss__term {
      order: 2;
      margin: 0;
      margin-left: 3px;
    }

    & > .weight-loss__description {
      order: 1;
      margin: 0;
    }
  }
}

@include media('>=tablet') {
  .weight-loss {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .weight-loss__item {
    &--first {
      margin-bottom: 0;
    }
  }

  .weight-loss__details {
    &--box {
      min-width: 162px;
      margin-right: 42px;

      &:last-child {
        margin-right: 0;
      }

      & > .weight-loss__term {
        font-size: 30px;
        line-height: 37px;
      }

      & > .weight-loss__description {
        bottom: -7px;
        left: 9%;

        width: 130px;

        font-size: 14px;
        line-height: 14px;

        background-color: $basic_white;
      }
    }

    &--no-box {
      flex-direction: column;

      font-size: 20px;
      line-height: 30px;
      text-align: right;

      & > .weight-loss__term {
        margin-left: 0;
      }
    }
  }
}

@include media('>=desktop') {
  .weight-loss {
    flex-direction: column;
    align-items: start;
  }

  .weight-loss__item {
    &--first {
      margin-bottom: 56px;
    }
  }

  .weight-loss__details {
    &--box {
      & > .weight-loss__description {
        background-color: $basic_grey;
      }
    }

    &--no-box {
      flex-direction: row;

      & > .weight-loss__term {
        margin-left: 64px;
      }
    }
  }
}
