extends ../../layout/layout

block varaiables
  - const meta = pages.form.meta
  - const {navigationLinks} = pages.form.data
  - const {page} = pages.form

block page-styles
  link(href!=`css/${page}.css` rel='stylesheet')

block main
  .container
    h1= page
