extends ../../layout/layout

block append variables
  - const meta = pages.form.meta
  - const {page} = pages.form

block page-styles
  link(href!=`css/${page}.css` rel='stylesheet')

block main
  div(data-barba="container" data-barba-namespace!=`${page}`).container
    h1= page

block page-script
  script(src!=`js/${page}.min.js`)
