mixin social
  ul.social&attributes(attributes)
    li.social__item
      a.social__link.social__link--vk(href='#')
        span.visually-hidden ВКонтакте
        +svg('logo-vk').social__icon
    li.social__item
      a.social__link.social__link--instagram(href='#')
        span.visually-hidden Instagram
        +svg('logo-instagram').social__icon
    li.social__item
      a.social__link.social__link--facebook(href='#')
        span.visually-hidden Facebook
        +svg('logo-facebook').social__icon
