mixin map
  .map&attributes(attributes)
    #map.map__ymaps
    +img(images.map)(
      width='320'
      height='362'
      alt='Адрес компании на карте: Ул. Большая Конюшенная, д. 19/8 Санкт-Петербург'
    ).map__image
